---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Page</title>
	</head>
	<body>

        <a href="/">Home Page</a>
        <a href="/about/">About Page</a>
        <a href="/blog/">Blog Page</a>

		<h1>About me</h1>

        <h2>This is some nonsense filler I'm putting here to learn</h2>

        <p>Honestly this tutorial is really helpful, I should do tutorials more often instead of fumbling around on my own</p>

        <p>Alternatively, I could do literally anything else</p>

	</body>
</html>
