---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'
const pageTitle = "Blog Page";
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<BaseLayout pageTitle={pageTitle}>
    <h2>This is where I will digitally scream my thoughts out into the world</h2>

    <p>I kinda think this is more fun than using substack, but they're for very different purposes</p>

    <p>Alternatively, I could do literally anything else</p>

    <ul>
        {allPosts.map((post) => <BlogPost title = {post.frontmatter.title} url = {post.url}></BlogPost>)}
    </ul>
</BaseLayout>
